{% extends "base.html" %}

{% block content %}
  {{ super() }}
  {% if page.file.src_path != "index.md" %}

    <h2><strong>Stay Up-to-Date</strong></h2>
    
    Sign up for the AI Learning Hub Newsletter to receive the latest updates, new tutorial releases, and valuable insights on AI, directly to your inbox.
    
    <iframe src="https://dankornas.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
    
  {% endif %}
{% endblock %}